@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007ced;
}
html[data-theme='light'] {
  --primary-color: #1ced00;
  /* --primary-color: #54ca95; */
  --background1 : rgb(207, 207, 207);
  --background2 : rgb(126, 125, 125);
}

html[data-theme='dark'] {
  --primary-color: #007ced;

  --background1 : #222222;
  --background2 : #444444;
}

/* changing text animation starts */
.b1{opacity: 0;
  animation: ani1 15s infinite;}
.b2{opacity: 0;
  animation: ani2 15s infinite;}
.b3{opacity: 0;
  animation: ani3 15s infinite;}
.b4{opacity: 0;
  animation: ani4 15s infinite;}
.b5{opacity: 0;
  animation: ani5 15s infinite;}

@keyframes ani1{
  0%{opacity: 0;}
  10%{opacity: 1;}
  20%{opacity: 0;}
}
@keyframes ani2{
  20%{opacity: 0;}
  30%{opacity: 1;}
  40%{opacity: 0;}
}@keyframes ani3{
  40%{opacity: 0;}
  50%{opacity: 1;}
  60%{opacity: 0;}
}@keyframes ani4{
  60%{opacity: 0;}
  70%{opacity: 1;}
  80%{opacity: 0;}
}@keyframes ani5{
  80%{opacity: 0;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}
/* changing animation ends */

.s1{opacity: 0;
  animation: sty1 10s infinite;}
  .s2{opacity: 0;
    animation: sty2 10s infinite;}
    @keyframes sty1{
      0%{opacity: 0.2;}
      50%{opacity: 0.8;}
      100%{opacity: 0.2;}

    }@keyframes sty2{
      0%{opacity: 0.8;}
      50%{opacity: 0.2;}
      100%{opacity: 0.8;}
    }


   
.hireAnim1{
  opacity: 0;
  animation: hAnim1 7s infinite;
}
.hireAnim2{
  opacity: 0;
  animation: hAnim2 7s infinite;
}
@keyframes hAnim1{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
  
}
@keyframes hAnim2{
  0%{
    opacity: 1;
  }
  
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}



/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */


/* scroll bar edit start */

/* width */
::-webkit-scrollbar {
  width: 8px;
  /* padding: 23; */
  height:8px;
  /* border-radius: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background1);
  /* box-shadow: inset 0 0 10px var(--background1); */
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background2);
  border-radius: 3px;
}

/* scroll bar edit end */
